annotated-types==0.7.0
anyio==4.6.0
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
contourpy==1.3.0
cycler==0.12.1
Django==5.1.1
django-environ==0.11.2
djangorestframework==3.15.2
exceptiongroup==1.2.2
fastcore==1.7.11
fonttools==4.54.1
frozendict==2.4.4
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
krakenex==2.2.2
lxml==5.3.0
matplotlib==3.9.2
multitasking==0.0.11
mysqlclient==2.1.0
nixtla==0.6.1
numpy==2.1.2
orjson==3.10.7
packaging==24.1
pandas==2.2.3
peewee==3.17.6
pillow==10.4.0
platformdirs==4.3.6
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
tenacity==9.0.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
utilsforecast==0.2.5
webencodings==0.5.1
whitenoise==6.7.0
yf==0.0.4
yfinance==0.2.44
zipp==3.20.2
pandas-stubs==2.2.2.240909